.body{
    background-color: black;
    color: #fff;
}
/* Elimina los bordes y el espaciado de la barra de navegación */
.navbar{
    padding: 0;
    margin: 0;
    border: 0;
}

/* Cambiar el color de los enlaces del menú a blanco (con !important) */
.navbar-nav .nav-link {
    color: white !important;
}

/*Ajusta el tamaño del logo y lo centra verticalmente */
.navbar-brand img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/* Hace que el fondo los iconos del carrusel sea transparente y le quita el borde */
.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
    font-size: 24px;
    color: #fff;
    border: 0ch;
}

/* PRESENTACIÓN */
.presentacion-icon { 
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 5%;

}

h2 {
    padding-bottom: 30px;
    font-size: x-large;
}

.row-icon {
    color: white; 
    background-color: #27b2e0;
    font-size: 25px;
    text-align: center;
}

/* DESTACADOS */
.destacados {
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.custom-card {
    border: 1px solid #fff; /* Borde blanco */
    border-radius: 10px; /* Bordes redondeados */
    margin: 5px; /* Espacio entre las cartas */
    background-color: #27b2e0;
}

.custom-card img{
    border-radius: 10px; /* Bordes redondeados */
    height: 180px;
    width: 100%;
    /* object-fit: cover; */
}

.custom-card h4, p{
    padding: 3%;
}

/* FORMULARIO */

.contacto { 
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 5%;
}

footer{
    background-color: #27b2e0;
    color: #fff;
    font-size: larger;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 5%;
}